.main-menu {
    overflow-y: hidden;
    padding: .75rem 1rem .3rem 1.64rem;
    width: 100%;
    height: 100vh;
}

.menu {
    background-color: #fff;
}

.menu-list a.is-active {
    background-color: #00d1b2
}

.navigation {
    display: none;
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
}

.navigation.is-active {
    display: block;
    position: absolute;
    width: 100%;
    z-index: 99;
    right: 0;
    top: 4.25rem;
}

.navigation.is-active>.main-menu {
    border-radius: .428rem .428rem 0 0;
}

.navbar {
    background-color: #fff;
    margin: 0.5rem 0.5rem 0.5rem;
    border-radius: .428rem;
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
}

.navbar-item.columns {
    margin-bottom: 0;
    padding-bottom: 0;
}

.navbar-burger:hover {
    background-color: transparent;
}

@media only screen and (min-width: 769px) {
    /* tablettes et ordinateurs */
    .navigation {
        display: block;
    }
}

@media only screen and (max-width: 769px) {
    /* smartphone */
    .navigation {
        display: none;
    }
}

@media only screen and (max-width: 769px) and (orientation: portrait) {
    /* smartphone en mode portait */
    .navigation {
        display: none;
    }
}