body {
    background-color: #fafafa;
    overflow: hidden;
}

.inline-icon {
    display: inline-block !important;
    margin: 0 5px;
}

.hero {
    margin-bottom: 0.5rem;
}

.img-circle {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.img-multi {
    display: inline-block;
    margin-left: calc(-7px);
    margin-right: calc(-7px);
    box-shadow: 0 0 0 2px #fff, inset 0 0 0 1px rgb(34 41 47 / 7%);
    cursor: pointer;
    background-color: white;
}

.box-no-shadow {
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
}

.image {
    background-repeat: no-repeat;
    background-size: cover;
}

div.image {
    display: block;
    height: auto;
    width: 100%;
}

div.image.is-rounded {
    border-radius: 9999px;
}

.table td {
    vertical-align: middle;
}

.table tbody th {
    vertical-align: middle;
}

table.table.card-header-title {
    padding-top: 1rem;
    margin-bottom: 0;
}

.subtitle.is-7 {
    font-size: 0.75rem;
}

.page-content {
    margin: 0.5rem 0.5rem 0.5rem;
    border-radius: .428rem;
    background-color: #fff;
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
}

.page-content>.hero {
    border-radius: .428rem .428rem 0 0;
}

footer {
    border-radius: 0 0 .428rem .428rem;
    margin-top: .5rem;
}

.footer {
    padding: 1.5rem 1.5rem 1.5rem;
}

input[type=checkbox], input[type=radio] {
    vertical-align: middle;
}

.sticky {
    position: sticky;
    top: 0;
    background: white;
    z-index: 90;
    padding-top: 1rem;
}

.button .icon:first-child:last-child {
    margin-left: calc(-.5em - 1px);
    margin-right: .25em;
}

.button .icon:first-child:not(:last-child) {
    margin-left: calc(-.5em - 1px);
    margin-right: .25em;
}