.steps:not(.is-hollow) .steps-segment.is-active .steps-marker:not(.is-hollow) {
    background-color: #00d1b2;
    color: #fff;
}
.steps:not(.is-hollow) .steps-marker:not(.is-hollow) {
    background-color: #00d1b2;
    color: #fff;
}
.steps-segment:after {
    background-color: #00d1b2;
}

.tab-panels {
    margin-right: 2px;
    margin-left: 2px;
}