body {
    padding-top: calc(1rem + var(--spacing) * 2);
}

nav,
nav ul {
    display: flex;
}

body>nav {
    z-index: 99;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 0 var(--spacing);
    background-color: var(--card-background-color);
    box-shadow: var(--card-box-shadow);
}

nav {
    justify-content: space-between;
}

body>header,
body>main {
    padding: var(--block-spacing-vertical) var(--block-spacing-horizontal);
}

body>footer {
    padding: 1rem 0;
}

.error {
    color: var(--del-color);
}

.btn-icon {
    width: 100%;
    justify-content: space-between;
    flex: 1;
    display: flex;
    align-items: center;

    min-width: 160px;
}

i {
    display: inline-block !important;
}

.icon {
    display: inline-block;
    --ggs: 1;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin-right: 0.25rem;
}

.img-circle {
    border-radius: 50%;
    background-size: cover;
}

.h-10 {
    height: 2.5rem;
}

.w-10 {
    width: 2.5rem;
}

.h-20 {
    height: 5rem;
}

.w-20 {
    width: 5rem;
}

.h-40 {
    height: 10rem;
}

.w-40 {
    width: 10rem;
}

table td,
table tr,
table td * {
    vertical-align: middle;
}

.flex {
    display: flex
}

.flex-shrink-0,
.shrink-0 {
    flex-shrink: 0
}

.btn-info {
    color: var(--primary-inverse);
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-info:hover {
    color: var(--primary-inverse);
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

.logo {
    display: none;
    background-color: #374956;
    background-image: url(https://source.unsplash.com/GagC07wVvck/1000x1200);
    background-position: center;
    background-size: cover;
}

@media (min-width: 992px) {
    .grid>.logo {
        display: block;
    }
}

/* Footer */
body>footer {
    padding: 1rem 0;
}


article>div {
    padding: 1rem;
}

@media (min-width: 576px) {
    body>main {
        padding: 1.25rem 0;
    }

    article>div {
        padding: 1.25rem;
    }
}

@media (min-width: 768px) {
    body>main {
        padding: 1.5rem 0;
    }

    article>div {
        padding: 1.5rem;
    }
}

@media (min-width: 992px) {
    body>main {
        padding: 1.75rem 0;
    }

    article>div {
        padding: 1.75rem;
    }
}

@media (min-width: 1200px) {
    body>main {
        padding: 2rem 0;
    }

    article>div {
        padding: 2rem;
    }
}

details[open]>summary {
    margin-top: 0;
    margin-bottom: 2.25rem;
    color: var(--color);
    font-weight: 700;
    font-family: var(--font-family);
    font-size: 1.5rem;
}

.badge {
    display: inline-flex;
    padding: .35em .65em;
    font-size: .75em;
    font-weight: 700;
    color: var(--primary-inverse);
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: .25rem;
}

.rounded-pill {
    border-radius: 50rem !important;
}

.stripes {
    background: linear-gradient(-45deg, #f6f8f9 10%, #fff 10%, #fff 40%, #f6f8f9 40%, #f6f8f9 60%, #fff 60%, #fff 90%, #f6f8f9 90%);
    background-size: 0.5rem 0.5rem;
}

.icon-nav {
    display: inline-flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 360px;
    z-index: 98;
    box-shadow: var(--card-box-shadow);
    margin-top: calc(var(--spacing) - 5px);
    padding: var(--spacing);
    right: var(--spacing);
    border-radius: var(--border-radius);
}

.dropdown-content>ul {
    display: block;
}

.dropdown-content>ul>li {
    width: 100%;
}

.dropdown-content a {
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.show {
    display: block;
}

nav a {
    padding: calc(var(--spacing) * 0.5) calc(var(--spacing) * 0.5);
}

small {
    color: var(--muted-color);
}

.badge small {
    color: var(--primary-inverse);
}

.profile {
    height: 40px;
}

.profile a {
    display: inline-block;
    vertical-align: middle;
    margin-right: var(--grid-spacing-horizontal);
    font-size: .9375rem;
}

.profile:hover {
    background-color: var(--primary);
    color: var(--primary-inverse);
    border-radius: 25rem;
}

.profile:hover a {
    color: var(--primary-inverse);
}